/** @format */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap");

.App {
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Harmattan", sans-serif !important;
}

.text-blue {
  color: #0086b0 !important;
}

.btn-bg-main {
  background-color: #0086b0 !important;
}

.border-main {
  border: 1px solid #0086b0 !important ;
}

footer {
  background-color: #292929;
  color: #ffffff;
  padding: 40px 5%;
}

.story-tags {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

input:focus,
textarea:focus {
  outline: none !important;
}

form img {
  top: -15px;
  left: 8px;
}

.try-it {
  background-image: url("./assets/images/Rectangle\ 38.png");
}
